/*=========== RESET ==========*/
reset{
	margin: 0;
	padding: 0; 
	font-size: 100%; 
	border: none; 
	outline: none; 
	font-weight: 300; 
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
* 
body {background-color: #BFE4FD;}
a {text-decoration: none;}
ul {list-style: none;}
img {max-width: 100%;}

#name {
	color: #FFFFFF;
}

#fs1 {
	background-color: #00006F;
	text-align: center;
}

#fs2 {
	background-color: #F0FFFF;
	margin-left: 450px;
	margin-right: 450px;
	margin-top: 100px;
	height: 200px;
}
#fs3{
	background-color: #F0FFFF;
	margin-left: 500px;
	margin-right: 600px;
	margin-top: 100px;
	height: 200px
	text-align: center;
}
.it {
	margin-left: -100px;
}

.lbl {
	float: left;
	width: 100px;
	margin-left: 50px;
	text-align: right;
}